/* May be unnecessary but just that we can pixel-calcluate everything */
* { margin:0; padding:0; }

body { overflow: hidden; font-family: 'Courier New', Courier, monospace; font-size: 16px; background-color: black; color: white; text-align: center; }

.centered { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/* Game screen */
#game {	width: 100%; z-index: 1; }

#map-column { overflow: hidden; }
#map-column, #right-column { display: inline-block; vertical-align: top; }
#right-column { text-align: left; width: 240px; }
#right-column > div {	position:relative; margin-left: 3px; }


/* Temp elements */
#loading { z-index: 20; }
#overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: black; opacity: 0.9; z-index: 10; }
